:root{
    --Noodle: 'Noodle';
    --Helvetica:'Helvetica';
    --glyphicons:'glyphicons';
}
@font-face {
  font-family: "Noodle";
  src: url("../font/big_noodle.woff") format("woff");
}

@font-face {
  font-family: "Helvetica";
  src: url("../font/HelveticaNeueLTPro-LtCn.woff") format("woff");
}

@font-face {
  font-family: "glyphicons";
  src: url("../font/glyphicons-halflings-regular.woff2") format("woff2");
}
*{
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.hiddenOverflow {
  overflow: hidden;
}
.DesktopNav {
    position: fixed;
    width: 100%;
    z-index: 99;
}
.navBTT {
  display: block;
  letter-spacing: 2.2px;
  margin-bottom: 10px;
  text-align: left;
  position: relative;
  cursor: pointer;
  max-width: 150px;
  color: white;
  background-color: black;
  padding: 4px 10px 4px 10px;
  font-family: "Noodle";
  font-size: 17px;
  text-decoration: none;
  z-index: 120;
  margin-top: 160px;
  transition: 0.5s;
}
.navBTT::after {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ef4035 !important;
  z-index: -1;
  transition: 0.25s;
}
.navBTT:hover:after {
  width: 100%;
}
.row.no-gutters>*{
  padding-left: 0;
  padding-right: 0;
}
#mainPandaLogo {
  pointer-events: all;
  cursor: pointer;
}
.pandaLogo {
  margin-top: 60px;
  margin-bottom: 20px;
  background: url("../image/PandaLogo.png") no-repeat center center;
  width: 79px;
  height: 171px;
  display: inline-block;
}
#socialMenu {
  margin-top: 10px;
  position: fixed;
  right: 10px;
  left: auto;
  z-index: 99;
}
.socialIcons{
  opacity: 0.6;
  transition: 0.25s ease;
}
.socialIcons:hover {
  opacity: 1;
}

/* Main page */
.topPagePadding {
  padding-top: 270px;
}
.onlyMobile{
  display: none;
}
#pandaBot {
  display: inline-block;
  position: relative;
  width: 427px;
  height: 445px;
  top: 50px;
  background: url("../image/pandaBot.gif") no-repeat center center;
}
.EmptyRowSpace140 {
  height: 80px;
}


/*  */
.smallNaslov {
  font-family: var(--Helvetica);
  padding-top: 0px;
  padding-bottom: 20px;
  padding-left: 10px;
  text-align: center;
  color: #cbcbcb;
}
.clientLogos {
  width: 100%;
  min-height: 128px;
  margin-bottom: 100px;
  background: url('../image/logosmerged.png') no-repeat center center;
  background-size: contain;
  /* max-width: 601px; */
  display: inline-block;
  opacity: 0.7;
}